/* whole page will be without margin and font-family from google font sans sarif for whole web page */
* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* background color & two image position implement for banner */
.header {
    background-color: #FFF8F3;
    background-image: url(./Images/header_bg.png), url(./Images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* navigation inline style */
/* content will arranged two sides of page */
/* margin left right up and down of nav- bar */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

/* button styling by using its class (btn-primary) */
/* make border remove by (border:0) */
/* button  padding is (18px 35px) for top bottom/left right */
.btn-primary {
    font-size: 20px;
    font-weight: 700;
    height: 64px;
    background-color: #FD6E0A;
    padding: 18px 35px;
    border: 0;
    border-radius: 5px;
    color: white;
}

/* list of menus arranged inline */
/* list of menues will be alligned horizontally */
nav ul {
    display: flex;
    align-items: center;
}

/* list item unlisted */
/* creating space between list of items */
nav li {
    list-style: none;
    margin-left: 50px;
}

/* header and navigation style */

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

/* title color */
.title-color {
    color: #FD6E0A;
}

/* banner styling */
/* creating left right side 200px margin and arranging inline by (display:flex) */
.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

/* styling banner title */
.banner-title {
    font-weight: 600;
    font-size: 45px;
}

/* styling banner subtitle */
.banner-subtitle {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}

/* styling banner text */
.banner-text {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

/* main section change maximum width to 1140px and margin up&down 0 and left& right autometically centered */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about me section styles */
.about {
    margin-top: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

/* about me title centered */
.section-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}

/* about me text styled */
.section-text {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* about info styled by arranging inline */
/* make the info arranged between them by space-around */
.about-info-container {
    display: flex;
    justify-content: space-around;
}

/* styled info title */
.about.info-title {
    font-size: 20px;
    color: #757575;
}

.info-description {
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}