/* HEADER SECTION STYLES */
/* whole page will be without margin and font-family from google font sans sarif for whole web page */
body {
    margin: 0;
    font-family: 'lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* all sections margin-top margin */
section {
    margin-top: 130px;
}

/* background color & two image position implement for banner */
/* by default BG image is repeating hence no-repeat was implemented */
/* change the BG image position by default from top left to  */
.header {
    background-color: #FFF8F3;
    background-image: url(./Images/header_bg.png), url(./Images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* banner padding up right down 0 and left */
/* making banner inlining */
/* making content inlining */
.banner {
    padding: 30px 30px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

/* styling banner greeting */
.banner-greeting {
    font-size: 45px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 0px;
}

/* styling banner title */
.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;

}

nav {
    /* flex used to  arrange all content in the same line */
    display: flex;
    /* all content arranged left and right of the page */
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

/* button styling by using HTML button class (btn-primary) */
/* make border around button remove by (border:0) */
/* button  padding is (15px 35px) around the button which will by anticlockwise */
.btn-primary {
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/* ul list of immediate nav will be arranged inline */
/* list of menus will be aligned horizontally */
nav>ul {
    display: flex;
    align-items: center;
}

/* remove unorder list dot symbol from menus  */
/* creating space by right margin between the menus */
nav li {
    list-style: none;
    margin-right: 50px;
}

/* remove underline from menu name */
nav a {
    text-decoration: none;
    color: #474747;
}

/* change the pallab color,font-size & font-weight */

.nav-title {
    color: #181818;
    font-weight: 800;
    font-size: 45px;
}

/* Primary color of the website*/
.text-primary {
    color: #FD6E0A;
}


/* right hand banner profile picture size adjusted */
.banner .profile-pic {
    width: 500px;
}

/* styling banner text */
.banner-description {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

/* MAIN SECTION STYLING */
/* main section change maximum width to 1140px and margin up&down 0 and left& right automatically centered */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

/* about me section styles */
.about {
    padding: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
    margin: 130px 0;
}

/* about me title */
.section-title {
    color: #181818;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
}

/* about me description styled */
.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
}

/* about info styled by arranging inline */
/* make the info arranged between them by space-around */
.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

/* styled info title */
.about.info-title {
    font-size: 20px;
    color: #757575;
}

/* styled info  */
.info-description {
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}

/* WHAT ID DO PART STYLED */
/* what i do text info padding */
#what-i-do-description {
    padding: 30px 150px;
}

/* styles skills arranged inline by display flex */
/* 24px gap between skills container */
.skills-container {
    display: flex;
    gap: 24px;
}

/* skills styling */
.skill {
    padding: 30px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}

/* styling skill title */
.skill-title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}

/* skill text styling */
.skill-description {
    color: #757575;
}

/* resume related */
/* content will be inlined */
.resume-container {
    display: flex;
    gap: 24px;
}

.resume-column {
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume .title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}

.resume .subtitle {
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}

.resume .description {
    color: #757575;
}

.resume-button {
    margin-top: 50px;
    text-align: center;
}

/* connect section styling */
.contact {
    display: flex;
    gap: 117px;
    background-color: #FFF8F3;
    padding: 130px 200px;
}

.contact .section-title {
    text-align: left;
}

/* lets message me styling */
/* specify input type for implementing styles */
.contact input[type="text"],
input[type="email"],
textarea {
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}

input {
    height: 64px;
}

/* anchor tag link indicator will be removed */
.contact a {
    text-decoration: none;
}