section {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: rgb(245, 240, 229);
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.left-width {
    width: 18%;
    padding: 2%;
}

.name-color {
    color: tomato;
}

.bottom-space {
    margin-bottom: 40%;
}

.middle-width h1 {
    font-size: 40px;

}

.middle-width h2 {
    font-size: 80px;
}

.right-width h3 {
    margin-top: 10%;
    margin-bottom: 30%;
}

.right-width span {
    margin-left: 30px;
    margin-right: 70px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(241, 158, 5), rgb(243, 41, 5));
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.middle-width {
    width: 20%;
}

.right-width {
    width: 60%;
    text-align: center;
}

.right-width img {
    width: 100%;
    height: 63%;
    padding: 5px 5px;
}

.about-me {
    margin: 20px 60px;
    text-align: center;
}

.my-bio {
    display: flex;
    margin-left: 20px;
    text-align: center;
}